body, html {
    background-color: #A8D5BA;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4F7942;
    height: 10vh;
    
}

/* Páginas na navbar */
.nav-link {
    color: white;
    padding: 0 2rem 0 2rem !important;
    transition: color 0.4s linear;
}

.nav-link:hover ,.navbar-brand:hover {
    color: #6AA84F;
}

/* Logo da EcoTrend */
.navbar-brand {
    color: white;
    transition: color 0.4s linear;
}

.d-flex {
    background-color: #F5F5DC !important;
    color: #4F7942 !important;
}

/* Sidebar */
.sidebar {
    color: #4F7942 !important;
}

/* Links dentro da sidebar */
.sidebar a {
    color: #4F7942 !important;
}

.active {
    background-color: #A8D5BA !important;
}
